<!-- The form is created in the component view create.component.html to create and save a project -->

<div class="container">
    <h2>{{title}}</h2>

    <!--show message in the view of the create project form, according 
        to the project status variable in the create.component.ts, shows 
        a message when creating, and saving a project, a successful 
        message, otherwise a project not created message.-->
    <div class="message success" *ngIf="status == 'success'">
        The project has been created successfully, <a [routerLink]="['/project', save_project._id]">project here</a>
    </div>

    <div class="message failed" *ngIf="status == 'failed'">
        The project WAS NOT CREATED
    </div>

    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="name">Name</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required />
            <span class="form_error" *ngIf="name.touched && !name.valid">
                The name is required
            </span>
        </p>

        <p>
            <label for="description">Description</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
            <span class="form_error" *ngIf="description.touched && !description.valid">
                The description is required
            </span>
        </p>

        <p>
            <label for="category">Category</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required />
            <span class="form_error" *ngIf="category.touched && !category.valid">
                The category is required
            </span>
        </p>

        <p>
            <label for="year">Release year</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" />
        </p>

        <p>
            <label for="langs">Languages used</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required />
            <span class="form_error" *ngIf="langs.touched && !langs.valid">
                The languages is required
            </span>
        </p>

        <p>
            <label for="image">Project image</label>
            
            <!-- Event (change) to grab all the data from the files, when there is a change in an input -->
            <input type="file" name="image" placeholder="Upload image" (change)="fileChangeEvent($event)" />
        </p>

        <input type="submit" value="Send" [disabled]="!projectForm.form.valid" />
    </form>
</div>