/* Import yanone font */
@font-face {
    font-family: "yanone";
    src: url("fonts/yanone.ttf");
}

/* Import finger font */
@font-face {
    font-family: "finger";
    src: url("fonts/finger.ttf");
}

/* General styles for the web */
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
    background: url("../img/pattern.png");

    /* When we scroll on the web, the background remains fixed */
    background-attachment: fixed;
}

/* To clean the floats between the different elements */
.clearfix{
    float: none;
    clear: both;
}

/* navigation bar / header */

header{
    /* So that the header adapts to the width of the page */
    /* So that it behaves like a block */
    display: block;

    width: 100%;
    height: 90px;
    background: rgba(53, 103, 164, 0.8);

    /* When we scroll on the web, the header remains fixed */
    position: fixed;

    /* To put the text in capital letters of the header */
    text-transform: uppercase;
}

/* To style the <ul> tag inside the header */
header ul{
    /* So that the header adapts to the width of the page */
    /* So that it behaves like a block */
    display: block;

    width: 39%; /* Set the width of the <ul> or menu */

    /* So that it inherits the parent's height */
    height: inherit;

    margin: 0px auto;
    margin-top: -3px;
}

/* To style the <li> tag inside the header */
header ul li{
    /* So that the elements are placed next to each other */
    display: inline-block;

    margin: 0px auto;
    text-align: center; /* Center text horizontally */
    line-height: 88px; /* To center the <li> vertically */
}

/* To style the <a> tag inside the header */
header a{
    display: block;

    /* To put space between <a> links */
    padding-right: 20px;
    padding-left: 20px;

    /* So that it inherits the parent's height */
    height: inherit;

    text-decoration: none; /* To remove underlining from text */
    color: white; /* White letter */
    transition: all 300ms; /* When hovering over the links they have a transition */
}

/* When hovering over <a> elements */
header a:hover,
.actived{
    background: rgba(0,0,0,0.8); /* Transparent black <a> link background */
}

/* Logo */

#logo{
    font-family: "finger";
    font-size: 30px;
}

#logo a{
    /* Transition to make the animation look smooth */
    transition: color 500ms, transform 500ms;
}

header #logo a:hover{
    background: transparent; /* For the <a> link logo don't have menu hover */
    color: black; /* Change the logo color to black */
    
    /* Increase logo size, with a transition to make the animation look smooth */
    transform: scale(1.50, 1.50);
}

/* Main container */

#content{
    min-height: 500px;
    width: 75%;

    /* To center the main content horizontally */
    margin: 0px auto;

    /* Black color blur for the border of the content */
    box-shadow: 0px 0px 40px black;

    /* A solid gray border is placed to the left and right of the container */
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    
    background: rgba(255, 255, 255, 0.7);
    padding-top: 120px;
}

/* Footer */
footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/* About me */
#title{
    width: 70%;
    margin: 0px auto; /* Center the div tag that contains the title */
    text-align: center; /* center title, subtitle and email horizontally */
    margin-top: 20px;
    margin-bottom: 70px;
}

#title h1{
    font-family: "finger"; /* Custom font for title */
    font-size: 60px;

    /* Horizontal line that divides the title and subtitle */
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

/* Subtitle */
#title h2{
    font-size: 25px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Article containing title and description about me */
article.aboutme{
    width: 70%;
    margin: 0px auto; /* Centers the article tag containing the title and paragraph */
    margin-bottom: 20px;
    font-size: 23px;
}

/* Title */
.aboutme h2{
    /* Horizontal line that divides the title and the paragraph */
    border-bottom: 1px solid #ccc;

    padding-bottom: 5px;
    margin-bottom: 5px;
}

/* Paragraph that describes my work information */
.aboutme p{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify; /* Justified paragraph */
}

/*Form section*/

.container{
    padding: 50px;
    padding-top: 10px;
}

.container h2{
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

form{
    width: 50%;
}

form label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*Styles for form attributes*/
form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
    width: 80%;
    padding: 5px;
}

/*Styles for buttons*/
form button,
form input[type="submit"]{
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    background: rgba(53, 103, 164, 1);
    border: 1px solid rgba(13, 67, 133, 1);
    cursor: pointer;
}

/*Effect illuminate the buttons*/
form button:hover,
form input[type="submit"]:hover{
    background: rgba(53, 103, 164, 0.8);
    border: 1px solid rgba(13, 67, 133, 1);
}