<!-- div that shows the title, subtitle, and email, of the about me page -->
<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<!-- Article to show descriptive information about myself, in a 
    paragraph with a title -->
<article class="aboutme">
    <h2>About me</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisi est, ultrices ut iaculis a, gravida pretium metus. Mauris et urna augue. Proin nec arcu sit amet velit porta pulvinar. Aenean id dictum dolor. Sed cursus lacinia lectus, quis luctus enim tristique id. Praesent ut nibh vehicula, dapibus quam in, placerat dolor. Curabitur eleifend elit sit amet lectus varius, non faucibus metus venenatis. Praesent vitae tellus iaculis, mollis arcu vitae, bibendum sapien.
    </p>
</article>